.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100vh;
}
.nav{
  width: 20%;
  padding: 10px;
  margin-right: 20px;
  height: 100%;
  border-radius: 10px;
  background-color:#fff;
  box-shadow: 1px 2px 5px#97979796;
}
.nav h1{
  font-size: 21px;
  color: var(--green);
  display: flex;
  margin: 10px 5px 20px;
  align-items: baseline;
  font-family: Helvetica, sans-serif;
}
.nav img{
  margin-right: 3px;
}
.nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}
.nav ul li{
  display: flex;
  padding: 10px 0 10px 15px;
  color: var(--gray);
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out .3s; 

  &:hover,
  &:nth-child(2){
    color: var(--green);
    background-color: var(--greenLess);
  }
}
.nav ul li a{
  font-size: 14px;
  padding-left: 20px;
}

.con{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mail{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  align-self: flex-end;
  width: 5.5rem;
}
.greetings{
  display: flex;
  margin: 15px 0 10px;
  align-items: center;
  justify-content: space-between;
}
.greetings h2{
  font-size: 18px;
}
.greetings ul{
  font-size: 14px;
  user-select: none;
  display: flex;
}
.greetings ul li{
  display: flex;
  justify-content: center;
  margin: 0 5px 0 10px;
  align-items: center;
  cursor: pointer;
}

.greetings ul li:first-child
{
  cursor:auto;
  margin-right: 50px;
}
.cards{
  display: flex;
  margin-right: 5px;
  justify-content: space-between;
}
.stacks{
  display: flex;
  flex-direction: column;
  width: 18.5rem;
  height: 9em;
  padding: 1rem;
  border-radius: 5px;
  color: var(--white);
}
.stacks h3{
  font-size: 28px;
}
.stacks p{
  font-size: 18px;
}
.cards_ic{
  justify-self: flex-end;
  align-self: flex-end;
}
.stacks:first-child{
  background-color: var(--violet);
}
.stacks:nth-child(2){
  background-color: var(--blue);
}
.stacks:nth-child(3){
  background-color: var(--yellow);
}
.stacks:last-child{
  background-color: var(--red);
}
.summary{
  color: var(--white);
  font-size: 12px;
  background-color: var(--green);
  border-radius: 5px;
  margin: 10px 5px 10px 0;
  padding: 5px 10px;
}
.summary h4{
  font-weight: 400;
}
.sum_datas ul{
  display: flex;
  justify-content: space-between;
}
.sum_datas ul li{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid var(--white);
}

.sum_datas ul li:first-child{
  border: none;

}

.sum_datas ul li h5{
  font-size: 24px;
  font-weight: 400;
}
.chartp_{
  height: 10px !important;
}